<div class="content-container" id="about">
  <div class="screen-card">
    <img src="static/images/dive_deep.png" alt="Dive into the arts & sciences with Perceptua.">
    
    <h3>
      A digital symphony. A global reading room. A gallery for all.
    </h3>
    
    <p class="text">
      Perceptua is founded on a passion for deep, immersive experience.
      Here, you'll find the work of the highest caliber of artists & thinkers, as well as 
      the inspiration, the dedication, the obsession behind it.<br><br>
      Perceptua allows curious minds to dive deep & explore each creator's universe like nowhere else.
    </p>
    
    <img src="static/images/open_source.png" alt="Perceptua is open source and does not require an account.">
    
    <p class="text">
      Tired of making a new account on every site you visit?<br><br>
      On Perceptua, you don't have to. All you need to view the latest featured content is an access code, which you can 
      get by supporting me on <a target="_blank" href="https://www.minds.com/averypherkel">Minds</a> or Patreon.<br><br>
      Perceptua will never collect any personal data without your consent, and I'll show you the code to prove it. Perceptua 
      is 100% open source, and can be found on <a target="_blank" href="https://github.com/aherkel09/perceptua">GitHub</a>. 
    </p>
    
    <p class="info">
      Created by <a target="_blank" href="https://www.minds.com/averypherkel">Avery Herkel</a><br>
      Register for <a target="_blank" href="https://www.minds.com/register?referrer=averypherkel">Minds</a><br>
      Background Image <a target="_blank" href="https://wpblink.com/wallpaper-458440">Source</a>
    </p>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#about').fadeIn('slow');
  });
</script>
