<div class="content-container" id="about-container">
  <div class="text">
    <img src="static/images/dive_deep.png" alt="Dive deep into the arts & sciences.">

    <h2>
      A digital symphony. A global reading room. A gallery for all.
    </h2>

    <p>
      Perceptua is a growing collection, the product of my various creative & intellectual pursuits.
      At present, it contains <a href="/#/essays/all">essays</a>, several <a href="/#/fiction/all">short stories</a>, & an <a href="/#/media/all">audiovisual collage</a>.
      With time, I hope to expand both its scope & its depth.
      In particular, I plan to augment this meagre collection with extensive research into the history & uses of mathematics.
      More broadly, I hope Perceptua will become a vast trove of historical & philosophical insights on the connections between knowledge & power,
      as well as a gallery for the art of a new cultural paradigm.
    </p>

    <div class="footer">
      <a href="#/{{ 'upcoming' }}/all"><h3>View Upcoming Additions</h3></a>
    </div>

    <p>
      For those interested, Perceptua is open source, & can be found on
      <a target="_blank" href="https://github.com/aherkel09/perceptua/wiki/">GitHub</a>.
    </p>

    <p class="info centered">
      <a target="_blank" href="https://twitter.com/Aphorikles"><i class="fab fa-twitter"></i> @Aphorikles</a><br>
      Background Image Created Using <a target="_blank" href="https://trianglify.io/">Trianglify</a>
    </p>
  </div>
</div>
