<div class="content-container" id="about">
  <div class="screen-card">
    <img src="static/images/dive_deep.png" alt="Dive into the arts & sciences with Perceptua.">
    
    <h3>
      A digital symphony. A global reading room. A gallery for all.
    </h3>
    
    <p class="text">
      Perceptua is founded on a passion for deep, immersive experience.
      Here, you'll find the work of the highest caliber of artists & thinkers, as well as 
      the inspiration, the dedication, the obsession behind it.<br><br>
      Perceptua allows curious minds to dive deep & explore each creator's universe like nowhere else.
    </p>
    
    <img src="static/images/open_source.png" alt="Perceptua is open source & does not require an account.">
    
    <h3>
      Tired of making a new account on every site you visit?
    </h3>
    
    <p class="text">
      On Perceptua, you don't have to. To enjoy all of the features & content available I only ask for two things:
    </p>
    
    <h3 class="text">1. Contribution <i class="fas fa-coins"></i></h3>
    
    <p class="text">
      All you need to view the latest featured content is an access code, which you can get by supporting me on 
      <a target="_blank" href="https://www.minds.com/averypherkel">Minds</a>.
    </p>
    
    <h3 class="text">2. Attention <i class="far fa-eye"></i></h3>
    
    <p class="text">
      I encourage you to explore the work of each creator on Perceptua with an open mind. In great art & true thought we 
      find the reflection of each of our souls. Enjoy & grow wiser.
    </p>
    
    <p class="text">
      For anyone interested, Perceptua is open source, & can be found on 
      <a target="_blank" href="https://github.com/aherkel09/perceptua">GitHub</a>.
      Perceptua will never collect any personal data without your consent, & I've made the code available to prove it. 
    </p>
    
    <p class="info">
      Created by <a target="_blank" href="https://www.minds.com/averypherkel">Avery Herkel</a><br>
      Register for <a target="_blank" href="https://www.minds.com/register?referrer=averypherkel">Minds</a><br>
      Background Image <a target="_blank" href="https://wpblink.com/wallpaper-458440">Source</a>
    </p>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#about').fadeIn('slow');
  });
</script>
