<div class="content-container" id="all">
  <p class="info" id="filter" style="float: right; clear: both;">Filter <i class="fas fa-caret-down"></i></p>
  
  <div class="screen-card hidden" id="filter-menu">
    <div class="filter-option" id="medium">
      <p>Medium <i class="fas fa-caret-down"></i></p>
      <div class="hidden option-menu" id="medium-menu">
        <a class="nav-item" href="#/content/{{ m | slugify }}" ng-repeat="m in media">{{ m }}</a>
      </div>
    </div>
  </div>
  
  <div class="creator-card" ng-repeat="a in all">
    <a class="greyscale" href="#/content/{{ a.medium | slugify }}/{{ a.name | slugify }}">
      <creator creator="a"></creator>
    </a>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#all').fadeIn('slow');
    
    $('#filter').click(function() {
      $('#filter-menu').fadeToggle('slow');
    });
   
    $('.filter-option').click(function(ev) {
      var option = $(ev.target).attr('id');
      $('#' + option + '-menu').fadeToggle('slow');
    });
  });
</script>
