<div class="content-container" id="all">
  <p class="info" id="filter" style="float: right;">Filter <i class="fas fa-sort-down"></i></p>
  
  <div class="hidden" id="filter-menu">
    <p class="filter-option">Medium <i class="fas fa-caret-right"></i></p>
    <p class="hidden " ng-repeat="m in media">{{ m }}</p>
  </div>
  
  <div class="creator-card" ng-repeat="a in all">
    <a class="greyscale" href="#/content/{{ a.medium | slugify }}/{{ a.name | slugify }}">
      <creator creator="a"></creator>
    </a>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#all').fadeIn('slow');
    
    $('#filter').click(function() {
      $('#filter-menu').fadeIn('slow');
    });
   
    $('.filter-option').each(function() {
      $(this).click(function(ev) {
        $(ev.target).children().each(function() {
          $(this).fadeIn('slow');
        });
      });
    });
  });
</script>

