<div class="content-container" id="all">
  <p class="info" id="filter" style="text-align: right;">Filter <i class="fas fa-caret-down"></i></p>
  
  <div class="screen-card hidden" id="filter-menu">
    <p class="filter-option" id="medium">Medium <i class="fas fa-caret-down"></i></p>
    <div class="hidden option-menu" id="medium-menu">
      <a class="nav-item" href="#/content/{{ m | slugify }}" ng-repeat="m in media">{{ m | uppercase }}</a>
    </div>
  </div>
  
  <div class="creator-card" *ngIf="published" ng-repeat="p in published">
    <a class="greyscale" href="#/content/{{ p.medium | slugify }}/{{ p.name | slugify }}">
      <creator creator="p"></creator>
    </a>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#all').fadeIn('slow');
    
    $('#filter').click(function() {
      $('#filter-menu').fadeToggle('slow');
    });
   
    $('.filter-option').click(function(ev) {
      var option = $(ev.target).attr('id');
      $('#' + option + '-menu').fadeToggle('slow');
    });
  });
</script>
