<a class="hidden info greyscale" id="back" style="float: left;" href="#/{{ status }}"><i class="fas fa-angle-left"></i> Back</a><br>

<div class="content-container" id="content">
  <div class="screen-card" *ngIf="content" ng-repeat="c in content">
    <input type="hidden" id="url" data-content-url="{{ c.content }}">
    <h3 class="title">{{ c.title }}</h3>
    <p class="creator">{{ c.creator }}</p>
    <p class="medium">{{ c.medium }}</p>
    <div></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#back').fadeIn('slow');
    $('#content').fadeIn('slow');
  });
</script>
