<a class="hidden info greyscale" id="back" style="float: left;" href="#/{{ 'published' }}"><i class="fas fa-angle-left"></i> Back</a><br>

<div class="content-container" id="creator">
  <div class="screen-card" *ngIf="published" ng-repeat="p in published">
    <input type="hidden" id="url" data-content-url="{{ p.content }}">
    <h3>{{ p.name }}</h3>
    <p>{{ p.medium | titlecase }}</p>
    <div class="hidden" id="content"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#back').fadeIn('slow');
    $('#creator').fadeIn('slow', function() {
      var url = $('#url').attr('data-content-url');
      if (url.length > 0) {
        $('#content').load(url, function() {
          $('#content').fadeIn('slow');
        });
      }
    });
  });
</script>
