<a class="hidden info greyscale" id="back" style="float: left;" href="#/all"><i class="fas fa-angle-left"></i> Back</a><br>

<div class="content-container" *ngIf="published" id="creator">
  <input type="hidden" id="url" data-content-url="{{ published.content }}">
  <div class="screen-card">
    <h3>{{ published.name }}</h3>
    <p class="medium">{{ published.medium }}</p>
    <div class="hidden" id="content"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#back').fadeIn('slow');
    $('#creator').fadeIn('slow', function() {
      var url = $('#url').attr('data-content-url');
      if (url.length > 0) {
        $('#content').load(url, function() {
          $('#content').fadeIn('slow');
        });
      }
    });
  });
</script>
