<div class="content" ng-controller="MainController">
  <h3 id="welcome" class="hidden">welcome to {{ title }}</h3>
  
  <access></access>
  
  <div class="hidden content-container" id="upcoming-container">
    <p class="click-hide" id="hide-older" ng-click="hideContent(event)">Hide</p>
    <div ng-repeat="u in upcoming">
      <div class="creator-card">
        <creator creator="u"></creator>
      </div>
    </div>
  </div>
  
  <div class="hidden content-container" id="older-container">
    <p class="click-hide" id="hide-older" ng-click="hideContent(event)">Hide</p>
    <div ng-repeat="o in older">
      <div class="creator-card">
        <creator creator="o"></creator>
      </div>
    </div>
  </div>
  
  <div class="hidden content-container" id="suggest-container">
    <suggest></suggest>
  </div>
  
  <div class="hidden content-container" id="about-container">
    <about></about>
  </div>
</div>
