<div class="content" ng-controller="MainController">
  <h3 id="welcome" class="hidden">welcome to perceptua.</h3>
    
  <div class="hidden content-container" id="featured-container">
    <div class="creator-card">
      <creator creator="featured"></creator>
    </div>
    <br>
    <access></access>
  </div>
    
  <div class="hidden content-container" id="upcoming-container">
    <div class="creator-card" ng-repeat="u in upcoming">
      <creator creator="u"></creator>
    </div>
  </div>
  
  <div class="hidden content-container" id="older-container">
    <div class="creator-card" ng-repeat="o in older">
      <creator creator="o"></creator>
    </div>
  </div>
  
  <div class="hidden content-container" id="suggest-container">
    <div class="screen-card">
      <suggest></suggest>
    </div>
  </div>
  
  <div class="hidden content-container" id="about-container">
    <div class="screen-card">
      <p>
        A digital symphony. A global reading room. A gallery for all.<br><br>
        Perceptua is founded on a passion for deep, immersive experience & an appreciation of fine art.
        Here, you'll find the highest caliber of artists & thinkers sharing not only their work, but the inspiration, 
        the dedication, the obsession behind it. Perceptua allows curious minds to dive deep & explore each 
        creator's universe like nowhere else.<br><br>
        Support us on <a href="https://www.minds.com/register?referrer=averypherkel">Minds</a> to get your 
        access code today.
      </p>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    showContent('#featured');
  });
</script>
