<div class="title">
  <h2>{{ title }}</h2>
</div>

<div class="text">
  <h3>Delta-Lyceum is down for maintenance. Please stand by.</h3>
  <div class="loader"></div>
</div>

<div class="footer">
  <p class="minds-channel-button">
    Created by <a href="https://www.minds.com/averypherkel">AveryPHerkel</a>
  </p>
  
  <p> 
    <i class="far fa-lightbulb"></i>
    <a class="minds-referral-button" href="https://www.minds.com/register?referrer=averypherkel">Register for Minds</a>
  </p>
  
  <a id="background-image" href="https://wpblink.com/wallpaper-458440">Background Image</a>
</div>
