<div class="content-container" id="published-container">
  <p class="info right" id="filter">Sort <i class="fas fa-caret-down"></i></p>

  <div class="screen-card hidden" id="filter-menu">
    <p class="filter-option" id="medium">Medium <i class="fas fa-caret-down"></i></p>
    <div class="hidden option-menu" id="medium-menu">
      <a class="nav-item medium" href="#/{{ 'published' }}/{{ m | slugify }}/" ng-repeat="m in media">{{ m | capfirst }}</a>
    </div>

    <p class="filter-option" id="date">Date <i class="fas fa-caret-down"></i></p>
    <div class="hidden option-menu" id="date-menu">
      <a class="nav-item" href="#/{{ form }}/{{ filter }}">New <i class="fas fa-arrow-right"></i> Old</a>
      <a class="nav-item" href="#/{{ form }}/{{ filter }}/{{ 'older' }}">Old <i class="fas fa-arrow-right"></i> New</a>
    </div>

    <p *ngIf="surprise">
      <a class="greyscale" href="/{{ surprise.medium | slugify }}/{{ surprise.title | slugify }}">
        Surprise Me
      </a>
    </p>
  </div>

  <div class="content-grid">
    <div class="content-card" *ngIf="content" ng-repeat="c in content">
      <a class="greyscale" href="/{{ c.medium | slugify }}/{{ c.title | slugify }}">
        <content content="c"></content>
      </a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#filter').click(function() {
      $('#filter-menu').fadeToggle('slow');
    });

    $('.filter-option').click(function(ev) {
      var option = $(ev.target).attr('id');
      $('#' + option + '-menu').fadeToggle('slow');
    });
  });
</script>
