<div class="content-container" id="published">
  <p class="info" id="filter" style="text-align: right;">Filter <i class="fas fa-caret-down"></i></p>
  
  <div class="screen-card hidden" id="filter-menu">
    <p class="filter-option" id="medium">Medium <i class="fas fa-caret-down"></i></p>
    <div class="hidden option-menu" id="medium-menu">
      <a class="nav-item" href="#/{{ 'published' }}/{{ m | slugify }}" ng-repeat="m in media">{{ m | titlecase }}</a>
    </div>
  </div>
  
  <div class="content-grid">
    <div class="creator-card" *ngIf="creators" ng-repeat="c in creators">
      <a class="greyscale" href="#/{{ 'published' }}/{{ c.medium | slugify }}/{{ c.name | slugify }}">
        <creator creator="c"></creator>
      </a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#published').fadeIn('slow');
    
    $('#filter').click(function() {
      $('#filter-menu').fadeToggle('slow');
    });
   
    $('.filter-option').click(function(ev) {
      var option = $(ev.target).attr('id');
      $('#' + option + '-menu').fadeToggle('slow');
    });
  });
</script>
