<div class="hidden loader" id="access-loader"></div>

<button type="text" id="enter-button" ng-click="checkSessionAccess()">Enter Access Code</button>

<form class="hidden" id="access-form">
  <input type="text" id="access-input" name="code" placeholder="Enter Access Code...">

  <div id="error"></div>

  <button type="submit" id="access-button" ng-click="checkAccess()">Check Access Code</button>
</form>

<p class="brand info" ng-click="showAccessHelp()">Get Access Code</p>

<div class="hidden" id="access-help">
  <p>
    Support me on <a target="_blank" href="https://www.minds.com/averypherkel">Minds</a> 
    to get your access code today.
  </p>
  <p class="info">
    Register for <a target="_blank" href="https://www.minds.com/register?referrer=averypherkel">Minds</a>
  </p>
</div>
