<p>Which of your favorite creators would you like to see featured on perceptua?</p>

<a href="mailto:aherkel09@gmail.com?subject=Creator%20Suggestion" ng-click="suggestCreator()">Email Your Suggestion</a>

<p id="received-suggestion" style="display:none;">
  Thank you for your suggestion.<br>
  <span class="brand" style="font-size:0.75em;" ng-click="showEmail()">Link not working?</span>
</p>

<p class="hidden" id="email">
  Email your suggestion to <span class="brand">aherkel09@gmail.com</span>
</p>
