/* Color Scheme */

:root {
	--brand: #4bee8f;
	--accent: #74b6b5;
	--light: #b5fdaf;
	--dark: #676087;
	--greyscale: #f2f2f2;
}

.highlight { color: var(--brand) !important; }
.brand { color: var(--brand); }
.accent { color: var(--accent); }
.light { color: var(--light); }
.dark { color: var(--dark); }
.greyscale { color: var(--greyscale); }




/* Animations */

@-moz-keyframes spin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }



/* Tags */

html {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: large;
	word-wrap: break-word;
	text-align: center;
	color: var(--greyscale);
}

/* Enables fixed background on mobile
Based on Vincent's answer on Stack Overflow
https://stackoverflow.com/questions/26372127/background-fixed-no-repeat-not-working-on-mobile
*/
body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background-color: black;
	background: url(images/perceptua-low-poly.svg) no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: 75%;
}

a {
	color: var(--brand);
	cursor: pointer;
	text-decoration: none;
}

audio {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera */
}

img, iframe {
	display: block;
	margin: 0.5em auto;
	max-width: 100%;
	border-radius: 0.5em;
}

input {
	padding: 0.25em;
	margin: 0.25em;
	text-align: center;
	border: 0.25em solid var(--dark);
	border-radius: 0.5em;
}

button {
	background-color: var(--greyscale);
	color: var(--dark);
	border: 0.25em solid var(--dark);
	border-radius: 1em;
	padding: 0.5em 1em;
	margin: 0.5em;
	outline: none;
	transition: transform .2s;
}

button:hover {
	color: var(--accent);
	border: 0.25em solid var(--accent);
	transform: scale(1.1);
}



/* Header */

header {
	border-bottom: 1px solid var(--greyscale);
	width: 95%;
	margin: 0.25em auto;
}

#logo {
	height: 1.5em;
    	padding: 0.125em;
	margin: 0;
}

#site-title {
	margin: 0 0 0.5em 0;
}

#logo, #site-title {
	display: inline-block;
}

#site-nav {
	margin: 0.25em;
}

.nav-item {
	margin: auto 0.5em;
	color: var(--greyscale);
	font-size: 0.75em;
}



/* Page Content */

.content {
	padding: 1em 0.5em;
}

.loader {
	border: 0.5em dotted var(--greyscale);
	border-top: 0.5em dotted var(--brand);
	border-radius: 50%;
	width: 2em;
	height: 2em;
	margin: 0.5em auto;
	animation: spin 2s linear infinite;
}

.hidden, .content-container {
	display: none;
}

.info {
	font-size: 0.75em;
	cursor: pointer;
}

.right {
	text-align: right;
}

.filter-option {
	cursor: pointer;
}

.content-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 50%);
	grid-auto-rows: 1fr;
}
	

.content-card, .screen-card {
	background-color: rgba(103, 96, 135, 0.75);
	border: 0.25em solid var(--accent);
	border-radius: 0.5em;
	padding: 0.5em;
}

.content-card {
	display: inline-block;
	margin: 0.25em;
}

.content-card:hover {
	background-color: rgb(116, 182, 181, 0.5);
}

.screen-card {
	width: 90%;
	margin: 0.5em auto;
}

.text {
	text-align: left;
	margin: 1em auto;
}

.title, .creator, .medium {
	text-transform: capitalize;
}

.added, .clicks {
	font-size: 0.75em;
	margin: 0;
}

.autocomplete-container {
	position: relative;
	margin: auto;
	cursor: pointer;
}

.autocomplete {
	position: absolute;
	top: 100%;
	left: 32%;
	right: 32%;
	z-index: 99;
	margin: 0;
}

.autocomplete div {
	padding: 0.25em;
	cursor: pointer;
	color: black;
	background-color: var(--greyscale);
	border-bottom: 1px solid var(--dark);
}

.autocomplete div:hover, .active {
	color: var(--brand) !important;
	background-color: var(--dark) !important;
}

.social {
	margin: 0.5em auto;
}

.footer {
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin: auto;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
	.logo {
		display: inline-block;
	}
	img {
		max-width: 75%;
	}
	.content-grid {
		grid-template-columns: repeat(auto-fit, 33%);
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
	body:before {
		background-size: 50%;
	}
	.screen-card {
		width: 75%;
	}
	.text {
		margin: 1em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
	body:before {
		background-size: 33%;
	}
	.screen-card {
		width: 50%;
	}
}
