---
layout: default
---

<p class="info right" style="margin-right:1em;">{{ page.date | postDate }}</p>

<h2>{{ title }}</h2>

<p>
{% for c in categories %}
  <span class="category-tag">{{ c | replace: '-', ' ' }}</span>
{% endfor %}
</p>

<div class="text">
  {{ content }}
</div>

{% assign related = collections.post | related: page.url, categories[0] %}
{% if related.size > 0 %}
  <div class="left related-posts">
    <p style="margin:0;">Related Posts:</p>
    {% for post in related %}
      <a href="{{ post.url }}">{{ post.data.title }}</a><br>
    {% endfor %}
  </div>
{% endif %}
