---
layout: default
---

<a class="info greyscale" id="back" style="float: left;" href="/#/published/all"><i class="fas fa-angle-left"></i> Back</a><br>

<p class="info right" style="margin-right:1em;">{{ page.date | date: '%B %d, %Y' }}<p>

<h2>{{ page.title }}</h2>

<!-- <p>{{ page.creator }}</p> -->

<p>
{% for c in page.categories %}
  <span class="category-tag">{{ c | replace: '-', ' ' }}</span>
{% endfor %}
</p>

<div class="text">
  {{ content }}
</div>

<div class="left related-posts">
  <p style="margin:0;">Related posts:</p>
  {% for post in site.posts %}
    {% if post.categories == page.categories and post.url != page.url %}
      <a href="{{ post.url }}">{{ post.title }}</a><br>
    {% endif %}
  {% endfor %}
</div>

<div>
  <a target="_blank" href="https://twitter.com/Aphorikles"><i class="fab fa-twitter"></i> @Aphorikles</a>
</div>

<div class="social">
  <div class="sharethis-inline-share-buttons"></div>
</div>
