---
layout: default
---

<a class="hidden info greyscale" id="back" style="float: left;" href="/#/published"><i class="fas fa-angle-left"></i> Back</a><br>

<div id="content" class="hidden screen-card">
  <h3>{{ page.title }}</h3>
  
  {% for c in page.categories %}
    <p>{{ c }}</p>
  {% endfor %}
  
  <div class="text">
    {{ content }}
  </div>
  
  <div style="display:flex;justify-content:space-between;">
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}">Previous: {{ page.previous.title }}</a>
    {% endif %}

    {% if page.next.url %}
      <a href="{{ page.next.url }}">Next: {{ page.next.title }}</a>
    {% endif %}
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#content,#back').fadeIn('slow');
  });
</script>
